In [ ]:
print('Hi')

Hi

In [ ]:
4/3+1/3+1/3

1.9999999999999998

In [ ]:
a=3
b=2

In [ ]:
a+b

5

In [ ]:
a + + b

5

In [ ]:
a * * b

SyntaxError: ignored

In [ ]:
a**b

9

In [ ]:
a='hello'

In [ ]:
a+b

TypeError: ignored

In [ ]:
1/3+1/3+4/3

2.0

In [ ]:
x=1e100

In [ ]:
9**87

104495676331778315966103878903450701989608781073244439950619431748912396904023371769

In [ ]:
x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769 - x - 2

-2.0

In [ ]:
x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769  - 2- x

0.0

In [ ]:
x - x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769  - 2

1.0449567633177832e+83

In [ ]:
print('Hi')

Hi

In [ ]:
print=5

In [ ]:
print('Hi')

TypeError: ignored

In [ ]:
del print

In [ ]:
print('Hi')

Hi

In [ ]:
print(sum)

<built-in function sum>

In [ ]:
print(print)

<built-in function print>

In [ ]:
input()

zxpom[oi

'zxpom[oi'

In [ ]:
input('Say something')

Say somethingouyb

'ouyb'

In [ ]:
x=input('Store something: ')

Store something: h

In [ ]:
x

'h'

In [ ]:
i=input('Enter an integer: ')

Enter an integer: 9

In [ ]:
i

'9'

In [ ]:
int(i)

9

In [ ]:
i * i

TypeError: ignored

In [ ]:
i * int(i)

'999999999'

In [ ]:
w=int(input('Enter Integer: '))

Enter Integer: 79

In [ ]:
w

79

In [ ]:
#Enter baggage weight and warn if exceeding allowance of 15kg

In [ ]:
int('15kg')

ValueError: ignored

In [ ]:
w=int(input("Enter weight: "))
if w>15:
  print("Allowance exceeded!")

Enter weight: 22
Allowance exceeded!

In [ ]:
#Enter baggage weight and warn while exceeding allowance of 15kg
#and ask the user how much they have taken out, subtracting this from weight

In [ ]:
for i in range(5): 
  print('Hi')

Hi
Hi
Hi
Hi
Hi

In [ ]:
for i in range (5):
  print(i,'Hi'*i)

4 HiHiHiHi

In [ ]:
for i in range (5):
  print(i,'Hi'*i)

0
1 Hi
2 HiHi
3 HiHiHi
4 HiHiHiHi

In [ ]:
#https://projecteuler.net/problem=1

In [ ]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

#Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
6%3

0

In [ ]:
T=True
F=False

In [ ]:
T and T

True

In [ ]:
T and F

False

In [ ]:
F and T

False

In [ ]:
F and F

False

In [ ]:
F or T

True

In [ ]:
T or F

True

In [ ]:
T or T

True

In [ ]:
F or F

False

In [ ]:
def avg(n1,n2):
  return(n1+n2)/2

In [ ]:
avg(10,4)

7.0

In [ ]:
avg(9,avg(10,4))

8.0

In [ ]:
#Ex. 3.1
#Function to sum first n numbers

In [ ]:
#Ex. 3.2 #f32
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Create a function to find the sum of all the multiples of a or b below n.
# (a,b,n) are function parameters

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
#doIt(y)
#print("x:",x,"; Y:",y)

x: 3 ; Y: 4

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
doIt(y)
#print("x:",x,"; Y:",y)

x: 3 ; Y: 4
x: 1 ; Y: 3

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
doIt(y)
print("x:",x,"; Y:",y)

x: 3 ; Y: 4
x: 1 ; Y: 3
x: 3 ; Y: 4

In [ ]:
#Ex 3.3
#Create a function to find the sum of all the multiples of a or b in list l.
# (a,b,l) are function parameters

In [ ]:
#Ex 3.4
#Create a function to find the sum of all 
#the multiples of factors in list a  contained in list l.
# (a,l) are function parameters and len(a) == 2

In [ ]:
#Ex 3.5
#Create a function to find the sum of all 
#the multiples of factors in list a contained in list l.
# (a,l) are function parameters
#f([2,3,5,7],list(range(1000)))385788
#f([2,3,5,7,11],list(range(1000))) 396205

In [ ]:
#f([2,3,5,7,11],list(range(1000)))

In [ ]:
f=open('cities','w')
for c in ['Dublin','Mumbai','Washington']:
  f.write(c+'\n')

In [ ]:
f=open('cities')

In [ ]:
f.read(1)

'D'

In [ ]:
f.read(2)

'ub'

In [ ]:
f.readline()

'lin\n'

In [ ]:
f.read()

'Mumbai\nWashington\n'

In [ ]:
f.close()

In [ ]:
f=open('cities')

In [ ]:
print(f.read())

Dublin
Mumbai
Washington

In [ ]:
f.seek(0)
for line in f:
  print(line)

Dublin

Mumbai

Washington

In [ ]:
#Ex 4.1
#Create a function to find the sum of all 
#the multiples of factors in file with filename a 
#contained in list file with filename b, each one number per line.
# (a,b) are function parameters

#Ex 4.2
#Be efficient

#Ex 4.3
#Keep your code DRY (No repetition of previous code)

In [ ]:
#SELECTION
#ITERATION
#FUNCTIONS
#LISTS
#FILES

In [ ]:
a=2
b=a
a is b

True

In [ ]:
a='Hello'
b=a
print(id(a),id(b),(a is b))
a+=' World'
print(id(a),id(b),(a is b))

140268086985648 140268086985648 True
140268087399984 140268086985648 False

In [ ]:
a=float('nan')
b=a
a is b

True

In [ ]:
a==b

False

In [ ]:
0<a

False

In [ ]:
0>a

False

In [ ]:
0==a

False

In [ ]:
a=4+5j

In [ ]:
id(a)

140268086984336

In [ ]:
a+=1

In [ ]:
a

(5+5j)

In [ ]:
id(a)

140268086983216

In [ ]:
name= 'Paul'
height=1.946
employer='DBS'
s='My name is %s, I am %.2f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.95 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %.1f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.9 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %.0f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 2 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %i metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1 metres tall and work in DBS

In [ ]:
int(4/3+1/3+1/3)

1

In [ ]:
s='My name is %s, I am %.64f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.9459999999999999520383653361932374536991119384765625000000000000 metres tall and work in DBS

In [ ]:

#Ex 5.1
#Create a function which takes an input filename and an output filename, and writes the output as follows:

#for input file with each line formatted as follows:
#n a1 a2 ...
#eg
#1000 3 5

#the output file should contain a line which is the same, prepended by the result of f35([a1,a2...],range(n))
#eg
#233168 1000 3 5

#DRY
def f51(ifn,ofn):
  pass




def runf51():
  with open('input','w') as f:
    f.write('''10 3 5
1000 3 5
1000 2 3 5''')
  f51('input','output')

In [ ]:
#Ex 6.1
#Handle file not found errors in Ex 5.1 - write empty file.
#write to a file <outputfilename>(1) if the file exists

#Ex 6.2
#Handle corrupt lines by ignoring them and prepending 'Corrupt' to the line in the output file
#'10 3 5 2' -> '37 10 3 5 2'
#'10 3 5 Hello' -> 'Corrupt 10 3 5 Hello'
#'10 3 5' -> '23 10 3 5'

#Ex 6.3
#Handle corrupt values by ignoring them:
#'10 3 5 Hello' -> '23 10 3 5 Hello'

In [ ]:
with open('/dev/stdin','w') as f:
  f.write('Hello World!')

In [ ]:
with open('/dev/stdin') as f:
  print(f.read(100))

Hello World!

In [ ]:
with open('/(1)','w') as f:
  f.write('Hello World!')

In [ ]:
#7.1 
#Create a function taking a dictionary called basket and a dictionary called prices
#which returns the total cost of the items in the basket.
#basket contains quantity values for each key, while 
#prices (obviously) contains product:price pairs

#7.2 deal with missing products etc.