In [ ]:
print('Hi')

Hi

In [ ]:
4/3+1/3+1/3

1.9999999999999998

In [ ]:
a=3
b=2

In [ ]:
a+b

5

In [ ]:
a + + b

5

In [ ]:
a * * b

SyntaxError: ignored

In [ ]:
a**b

9

In [ ]:
a='hello'

In [ ]:
a+b

TypeError: ignored

In [ ]:
1/3+1/3+4/3

2.0

In [1]:
x=1e100

In [ ]:
9**87

104495676331778315966103878903450701989608781073244439950619431748912396904023371769

In [ ]:
x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769 - x - 2

-2.0

In [ ]:
x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769  - 2- x

0.0

In [ ]:
x - x + 104495676331778315966103878903450701989608781073244439950619431748912396904023371769  - 2

1.0449567633177832e+83

In [ ]:
print('Hi')

Hi

In [ ]:
print=5

In [ ]:
print('Hi')

TypeError: ignored

In [ ]:
del print

In [ ]:
print('Hi')

Hi

In [ ]:
print(sum)

<built-in function sum>

In [ ]:
print(print)

<built-in function print>

In [ ]:
input()

zxpom[oi

'zxpom[oi'

In [ ]:
input('Say something')

Say somethingouyb

'ouyb'

In [ ]:
x=input('Store something: ')

Store something: h

In [ ]:
x

'h'

In [ ]:
i=input('Enter an integer: ')

Enter an integer: 9

In [ ]:
i

'9'

In [ ]:
int(i)

9

In [ ]:
i * i

TypeError: ignored

In [ ]:
i * int(i)

'999999999'

In [ ]:
w=int(input('Enter Integer: '))

Enter Integer: 79

In [ ]:
w

79

In [ ]:
#Enter baggage weight and warn if exceeding allowance of 15kg

In [ ]:
int('15kg')

ValueError: ignored

In [ ]:
w=int(input("Enter weight: "))
if w>15:
  print("Allowance exceeded!")

Enter weight: 22
Allowance exceeded!

In [ ]:
#Enter baggage weight and warn while exceeding allowance of 15kg
#and ask the user how much they have taken out, subtracting this from weight

In [ ]:
for i in range(5): 
  print('Hi')

Hi
Hi
Hi
Hi
Hi

In [ ]:
for i in range (5):
  print(i,'Hi'*i)

4 HiHiHiHi

In [ ]:
for i in range (5):
  print(i,'Hi'*i)

0
1 Hi
2 HiHi
3 HiHiHi
4 HiHiHiHi

In [ ]:
#https://projecteuler.net/problem=1

In [ ]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

#Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
6%3

0

In [ ]:
T=True
F=False

In [ ]:
T and T

True

In [ ]:
T and F

False

In [ ]:
F and T

False

In [ ]:
F and F

False

In [ ]:
F or T

True

In [ ]:
T or F

True

In [ ]:
T or T

True

In [ ]:
F or F

False

In [ ]:
def avg(n1,n2):
  return(n1+n2)/2

In [ ]:
avg(10,4)

7.0

In [ ]:
avg(9,avg(10,4))

8.0

In [ ]:
#Ex. 3.1
#Function to sum first n numbers

In [ ]:
#Ex. 3.2 #f32
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Create a function to find the sum of all the multiples of a or b below n.
# (a,b,n) are function parameters

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
#doIt(y)
#print("x:",x,"; Y:",y)

x: 3 ; Y: 4

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
doIt(y)
#print("x:",x,"; Y:",y)

x: 3 ; Y: 4
x: 1 ; Y: 3

In [ ]:
def doIt(x):
  y=7-x
  x=1
  print("x:",x,"; Y:",y)

x=3
y=4
print("x:",x,"; Y:",y)
doIt(y)
print("x:",x,"; Y:",y)

x: 3 ; Y: 4
x: 1 ; Y: 3
x: 3 ; Y: 4

In [ ]:
#Ex 3.3
#Create a function to find the sum of all the multiples of a or b in list l.
# (a,b,l) are function parameters

In [ ]:
#Ex 3.4
#Create a function to find the sum of all 
#the multiples of factors in list a  contained in list l.
# (a,l) are function parameters and len(a) == 2

In [ ]:
#Ex 3.5
#Create a function to find the sum of all 
#the multiples of factors in list a contained in list l.
# (a,l) are function parameters
#f([2,3,5,7],list(range(1000)))385788
#f([2,3,5,7,11],list(range(1000))) 396205

In [ ]:
#f([2,3,5,7,11],list(range(1000)))

In [ ]:
f=open('cities','w')
for c in ['Dublin','Mumbai','Washington']:
  f.write(c+'\n')

In [ ]:
f=open('cities')

In [ ]:
f.read(1)

'D'

In [ ]:
f.read(2)

'ub'

In [ ]:
f.readline()

'lin\n'

In [ ]:
f.read()

'Mumbai\nWashington\n'

In [ ]:
f.close()

In [ ]:
f=open('cities')

In [ ]:
print(f.read())

Dublin
Mumbai
Washington

In [ ]:
f.seek(0)
for line in f:
  print(line)

Dublin

Mumbai

Washington

In [ ]:
#Ex 4.1
#Create a function to find the sum of all 
#the multiples of factors in file with filename a 
#contained in list file with filename b, each one number per line.
# (a,b) are function parameters

#Ex 4.2
#Be efficient

#Ex 4.3
#Keep your code DRY (No repetition of previous code)

In [ ]:
#SELECTION
#ITERATION
#FUNCTIONS
#LISTS
#FILES

In [ ]:
a=2
b=a
a is b

True

In [ ]:
a='Hello'
b=a
print(id(a),id(b),(a is b))
a+=' World'
print(id(a),id(b),(a is b))

140268086985648 140268086985648 True
140268087399984 140268086985648 False

In [ ]:
a=float('nan')
b=a
a is b

True

In [ ]:
a==b

False

In [ ]:
0<a

False

In [ ]:
0>a

False

In [ ]:
0==a

False

In [ ]:
a=4+5j

In [ ]:
id(a)

140268086984336

In [ ]:
a+=1

In [ ]:
a

(5+5j)

In [ ]:
id(a)

140268086983216

In [ ]:
name= 'Paul'
height=1.946
employer='DBS'
s='My name is %s, I am %.2f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.95 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %.1f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.9 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %.0f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 2 metres tall and work in DBS

In [ ]:
s='My name is %s, I am %i metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1 metres tall and work in DBS

In [ ]:
int(4/3+1/3+1/3)

1

In [ ]:
s='My name is %s, I am %.64f metres tall and work in %s'
print(s%(name,height,employer))

My name is Paul, I am 1.9459999999999999520383653361932374536991119384765625000000000000 metres tall and work in DBS

In [ ]:

#Ex 5.1
#Create a function which takes an input filename and an output filename, and writes the output as follows:

#for input file with each line formatted as follows:
#n a1 a2 ...
#eg
#1000 3 5

#the output file should contain a line which is the same, prepended by the result of f35([a1,a2...],range(n))
#eg
#233168 1000 3 5

#DRY
def f51(ifn,ofn):
  pass




def runf51():
  with open('input','w') as f:
    f.write('''10 3 5
1000 3 5
1000 2 3 5''')
  f51('input','output')

In [ ]:
#Ex 6.1
#Handle file not found errors in Ex 5.1 - write empty file.
#write to a file <outputfilename>(1) if the file exists

#Ex 6.2
#Handle corrupt lines by ignoring them and prepending 'Corrupt' to the line in the output file
#'10 3 5 2' -> '37 10 3 5 2'
#'10 3 5 Hello' -> 'Corrupt 10 3 5 Hello'
#'10 3 5' -> '23 10 3 5'

#Ex 6.3
#Handle corrupt values by ignoring them:
#'10 3 5 Hello' -> '23 10 3 5 Hello'

In [ ]:
with open('/dev/stdin','w') as f:
  f.write('Hello World!')

In [ ]:
with open('/dev/stdin') as f:
  print(f.read(100))

Hello World!

In [ ]:
with open('/(1)','w') as f:
  f.write('Hello World!')

In [ ]:
#7.1 
#Create a function taking a dictionary called basket and a dictionary called prices
#which returns the total cost of the items in the basket.
#basket contains quantity values for each key, while 
#prices (obviously) contains product:price pairs

#7.2 deal with missing products etc.

In [ ]:
#Create a basket class
#allow items to be added
#create getValue method taking a pricelist

In [ ]:
#sha256("tea")
#to decimal
76877814899420836890653042671047180059940847440598608226386357771774702776130%127

61

In [ ]:
#testing

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
import unittest

In [ ]:
class testTest(unittest.TestCase):
  def testPass(self):
    self.assertTrue(True)

In [ ]:
unittest.main(argv=['ignored'],exit=False)

.
----------------------------------------------------------------------
Ran 1 test in 0.002s

OK

In [ ]:
def t():
  unittest.main(argv=['ignored'],exit=False)

In [ ]:
t()

.
----------------------------------------------------------------------
Ran 1 test in 0.002s

OK

In [ ]:
class testTest(unittest.TestCase):
  def testPass(self):
    self.assertTrue(True)
  def testFail(self):
    self.assertTrue(False)

In [ ]:
t()

F.
======================================================================
FAIL: testFail (__main__.testTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-8-3e0d62a27a32>", line 5, in testFail
    self.assertTrue(False)
AssertionError: False is not true

----------------------------------------------------------------------
Ran 2 tests in 0.004s

FAILED (failures=1)

In [ ]:
class testTest(unittest.TestCase):
  def testPass(self):
    self.assertTrue(True)
  def testFail(self):
    self.assertTrue(False)
  def testError(self):
    self.assertTrue()

In [ ]:
t()

EF.
======================================================================
ERROR: testError (__main__.testTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-10-b01285a65355>", line 7, in testError
    self.assertTrue()
TypeError: assertTrue() missing 1 required positional argument: 'expr'

======================================================================
FAIL: testFail (__main__.testTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-10-b01285a65355>", line 5, in testFail
    self.assertTrue(False)
AssertionError: False is not true

----------------------------------------------------------------------
Ran 3 tests in 0.007s

FAILED (failures=1, errors=1)

In [ ]:
#Create an account class
#getBalance,Lodge,Withdraw
#Test balance is zero on creation
#Test balance is equal to lodgement amount after first lodgement

In [ ]:
class Account:
  def __init__(self):
    self.__balance=0
  def getBalance(self):
    return self.__balance
  def lodge(self,amt):
    self.__balance = amt

In [ ]:
class testAccount(unittest.TestCase):
  def testInitialBalance(self):
    a=Account()
    self.assertEqual(a.getBalance(),0)
  def testLodge(self):
    a=Account()
    a.lodge(100)
    self.assertEqual(a.getBalance(),100)
  def testLodgeMore(self):
    a=Account()
    a.lodge(100)
    a.lodge(100)
    self.assertEqual(a.getBalance(),200)

In [ ]:
t()

..F
======================================================================
FAIL: testLodgeMore (__main__.testAccount)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-3-6a89050e261c>", line 13, in testLodgeMore
    self.assertEqual(a.getBalance(),200)
AssertionError: 100 != 200

----------------------------------------------------------------------
Ran 3 tests in 0.011s

FAILED (failures=1)

In [ ]:
class Account:
  def __init__(self):
    self.__balance=0
  def getBalance(self):
    return self.__balance
  def lodge(self,amt):
    self.__balance += amt

In [ ]:
t()

...
----------------------------------------------------------------------
Ran 3 tests in 0.019s

OK

In [ ]:
#define and test a withdraw method

In [ ]:
class Account:
  def __init__(self):
    self.__balance=0
  def getBalance(self):
    return self.__balance
  def lodge(self,amt):
    self.__balance += amt
  def withdraw(self,amt):
    self.__balance -= amt

In [ ]:
class testAccount(unittest.TestCase):
  def testInitialBalance(self):
    a=Account()
    self.assertEqual(a.getBalance(),0)
  def testLodge(self):
    a=Account()
    a.lodge(100)
    self.assertEqual(a.getBalance(),100)
  def testLodgeMore(self):
    a=Account()
    a.lodge(100)
    a.lodge(100)
    self.assertEqual(a.getBalance(),200)
  def testWithdraw(self):
    a=Account()
    a.lodge(1000)
    a.withdraw(100)
    self.assertEqual(a.getBalance(),900)
  def testNegativeWithdraw(self):
    a=Account()
    a.lodge(1000)
    with self.assertRaises(ValueError):
      a.withdraw(-100)

In [ ]:
t()

...F.
======================================================================
FAIL: testNegativeWithdraw (__main__.testAccount)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-23ae8cdc356a>", line 23, in testNegativeWithdraw
    a.withdraw(-100)
AssertionError: ValueError not raised

----------------------------------------------------------------------
Ran 5 tests in 0.011s

FAILED (failures=1)

In [ ]:
a=Account()

In [ ]:
a.lodge(100)

In [ ]:
a.withdraw(1000)

In [ ]:
a.getBalance()

-900

In [ ]:
a.withdraw(-987654321)

In [ ]:
a.withdraw(10000)

In [ ]:
class Account:
  def __init__(self):
    self.__balance=0
  def getBalance(self):
    return self.__balance
  def lodge(self,amt):
    self.__balance += amt
  def withdraw(self,amt):
    self.__balance -= amt
  def transfer(self,amt,rcpt):
    self.withdraw(amt)
    rcpt.lodge(amt)

In [ ]:
a=Account()
b=Account()
a.lodge(500)
b.lodge(500)
a.transfer(100,b)
print(a.getBalance())
print(b.getBalance())

400
600

In [ ]:
#pandas

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
s1 = pd.Series([1, 3, 5, 999999999999999999999999999999, 6, 8])
s1

0                                 1
1                                 3
2                                 5
3    999999999999999999999999999999
4                                 6
5                                 8
dtype: object

In [ ]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  1.854434  0.479143  0.636299 -0.677443
2013-01-02  1.066027 -0.070409  1.234582  0.372965
2013-01-03 -0.306588 -1.106378  0.453904 -0.904603
2013-01-04 -0.543708  0.985659 -0.089613  0.154321
2013-01-05 -1.306823 -1.088595 -1.610596 -0.871130
2013-01-06  0.571332 -0.519932  0.929529 -0.048563

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.222445 -0.220085  0.259017 -0.329075
std    1.157780  0.847924  1.019670  0.557070
min   -1.306823 -1.106378 -1.610596 -0.904603
25%   -0.484428 -0.946429  0.046266 -0.822708
50%    0.132372 -0.295170  0.545101 -0.363003
75%    0.942353  0.341755  0.856221  0.103600
max    1.854434  0.985659  1.234582  0.372965

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.head(3)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy()

array([[ 1.85443436,  0.47914301,  0.63629853, -0.67744322],
       [ 1.06602652, -0.070409  ,  1.23458201,  0.37296544],
       [-0.30658833, -1.10637833,  0.45390418, -0.90460273],
       [-0.54370847,  0.98565915, -0.089613  ,  0.15432115],
       [-1.30682319, -1.08859514, -1.61059593, -0.87113005],
       [ 0.57133197, -0.51993161,  0.92952908, -0.04856341]])

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.854434    1.066027   -0.306588   -0.543708   -1.306823    0.571332
B    0.479143   -0.070409   -1.106378    0.985659   -1.088595   -0.519932
C    0.636299    1.234582    0.453904   -0.089613   -1.610596    0.929529
D   -0.677443    0.372965   -0.904603    0.154321   -0.871130   -0.048563

In [ ]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.677443  0.636299  0.479143  1.854434
2013-01-02  0.372965  1.234582 -0.070409  1.066027
2013-01-03 -0.904603  0.453904 -1.106378 -0.306588
2013-01-04  0.154321 -0.089613  0.985659 -0.543708
2013-01-05 -0.871130 -1.610596 -1.088595 -1.306823
2013-01-06 -0.048563  0.929529 -0.519932  0.571332

In [ ]:
df.T.sort_index(axis=1, ascending=False)

   2013-01-06  2013-01-05  2013-01-04  2013-01-03  2013-01-02  2013-01-01
A    0.571332   -1.306823   -0.543708   -0.306588    1.066027    1.854434
B   -0.519932   -1.088595    0.985659   -1.106378   -0.070409    0.479143
C    0.929529   -1.610596   -0.089613    0.453904    1.234582    0.636299
D   -0.048563   -0.871130    0.154321   -0.904603    0.372965   -0.677443

In [ ]:
df.sort_values(axis=0, by='B',ascending=False)

                   A         B         C         D
2013-01-04 -0.543708  0.985659 -0.089613  0.154321
2013-01-01  1.854434  0.479143  0.636299 -0.677443
2013-01-02  1.066027 -0.070409  1.234582  0.372965
2013-01-06  0.571332 -0.519932  0.929529 -0.048563
2013-01-05 -1.306823 -1.088595 -1.610596 -0.871130
2013-01-03 -0.306588 -1.106378  0.453904 -0.904603

In [ ]:
df["A"]

2013-01-01    1.854434
2013-01-02    1.066027
2013-01-03   -0.306588
2013-01-04   -0.543708
2013-01-05   -1.306823
2013-01-06    0.571332
Freq: D, Name: A, dtype: float64

In [ ]:
df[["A"]]

                   A
2013-01-01  1.854434
2013-01-02  1.066027
2013-01-03 -0.306588
2013-01-04 -0.543708
2013-01-05 -1.306823
2013-01-06  0.571332

In [ ]:
df[0:3]

                   A         B         C         D
2013-01-01  1.854434  0.479143  0.636299 -0.677443
2013-01-02  1.066027 -0.070409  1.234582  0.372965
2013-01-03 -0.306588 -1.106378  0.453904 -0.904603

In [ ]:
df["20130101":"20130104"]

                   A         B         C         D
2013-01-01  1.854434  0.479143  0.636299 -0.677443
2013-01-02  1.066027 -0.070409  1.234582  0.372965
2013-01-03 -0.306588 -1.106378  0.453904 -0.904603
2013-01-04 -0.543708  0.985659 -0.089613  0.154321

In [ ]:
df.loc[dates[0]:dates[3]]

                   A         B         C         D
2013-01-01  1.854434  0.479143  0.636299 -0.677443
2013-01-02  1.066027 -0.070409  1.234582  0.372965
2013-01-03 -0.306588 -1.106378  0.453904 -0.904603
2013-01-04 -0.543708  0.985659 -0.089613  0.154321

In [ ]:
df.loc[:,['A','C']]

                   A         C
2013-01-01  1.854434  0.636299
2013-01-02  1.066027  1.234582
2013-01-03 -0.306588  0.453904
2013-01-04 -0.543708 -0.089613
2013-01-05 -1.306823 -1.610596
2013-01-06  0.571332  0.929529

In [ ]:
df.loc[[dates[0],dates[5]],['A','C']]

                   A         C
2013-01-01  1.854434  0.636299
2013-01-06  0.571332  0.929529

In [ ]:
df.loc[[dates[0]],['C']]

                   C
2013-01-01  0.636299

In [ ]:
df.loc[[dates[0]],'C']

2013-01-01    0.636299
Name: C, dtype: float64

In [ ]:
df.loc[dates[0],'C']

0.6362985281707817

In [ ]:
df.at[dates[0],'C']

0.6362985281707817

In [ ]:
df.iat[1,2]

1.234582014914202

In [ ]:
############################################################################

In [ ]:
import requests
import pandas as pd
import json

In [ ]:
url='https://www.youtube.com/youtubei/v1/search?key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&prettyPrint=false'
headers={'accept': '*/*',
'accept-encoding': 'gzip, deflate',
'accept-language': 'en-US,en;q=0.9',
'content-length': '2597',
'content-type': 'application/json',
'cookie': 'YSC=Lznsq4TWpRk; CONSENT=PENDING+795; PREF=tz=Europe.London; SOCS=CAISEwgDEgk1MTY5MTQwMDcaAmVuIAEaBgiAxN6gBg; VISITOR_INFO1_LIVE=hYYl5r6BAI0; GPS=1; ST-1d6yfha=oq=postal%20department&gs_l=youtube.3..0i512k1l14.39249.41095.1.63691.13.7.0.6.6.0.181.655.5j2.7.0.foo%2Chm-evie%3D0%2Ccfro%3D1%2Chm-evie%3D1%2Chm-vip-qp_nts%3D2000%2Chm-vimet%3D20%2Chm-viest%3D50%2Chm-rpse%3D1%2Chm-gued%3D5%2Chm-vip-qp_aot%3D1%2Chm-vip-qp_ascp%3D1...0...1ac.1.64.youtube..0.13.712...0i433i131i67k1j0i433i67k1j0i67k1j0i512i433i131k1j0i512i433k1j0i273k1.0.YzApbhGlUaE&itct=CA0Q7VAiEwjwy-_vs-r9AhXdPfEFHRlSBRQ%3D&csn=MC4wNDQ2NDgwNTA2ODY0NzYxNQ..&endpoint=%7B%22clickTrackingParams%22%3A%22CA0Q7VAiEwjwy-_vs-r9AhXdPfEFHRlSBRQ%3D%22%2C%22commandMetadata%22%3A%7B%22webCommandMetadata%22%3A%7B%22url%22%3A%22%2Fresults%3Fsearch_query%3Dpostal%2Bdepartment%22%2C%22webPageType%22%3A%22WEB_PAGE_TYPE_SEARCH%22%2C%22rootVe%22%3A4724%7D%7D%2C%22searchEndpoint%22%3A%7B%22query%22%3A%22postal%20department%22%7D%7D',
'origin': 'https://www.youtube.com',
'referer': 'https://www.youtube.com/results?search_query=postal',
'sec-ch-ua': '"Chromium";v="110", "Not A(Brand";v="24", "Google Chrome";v="110"',
'sec-ch-ua-arch': '"x86"',
'sec-ch-ua-bitness': '"64"',
'sec-ch-ua-full-version': '"110.0.5481.178"',
'sec-ch-ua-full-version-list': '"Chromium";v="110.0.5481.178", "Not A(Brand";v="24.0.0.0", "Google Chrome";v="110.0.5481.178"',
'sec-ch-ua-mobile': '?0',
'sec-ch-ua-model':'',
'sec-ch-ua-platform': '"Windows"',
'sec-ch-ua-platform-version': '"7.0.0"',
'sec-ch-ua-wow64': '?0',
'sec-fetch-dest': 'empty',
'sec-fetch-mode': 'same-origin',
'sec-fetch-site': 'same-origin',
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36',
'x-client-data': '''CIe2yQEIo7bJAQjEtskBCKmdygEInYvLAQiUocsBCOH1zAEIsY/NAQj1k80BCI+WzQEIqJbNAQjil80BCOSXzQEIzZjNAQi5mc0BCPOZzQEI0uGsAg==''',
'x-goog-visitor-id': 'CgtoWVlsNXI2QkFJMCj7huGgBg%3D%3D',
'x-youtube-bootstrap-logged-in': 'false',
'x-youtube-client-name': '1',
'x-youtube-client-version': '2.20230317.00.00'}
payload='''{"context":{"client":{"hl":"en","gl":"IE","remoteHost":"89.101.121.129","deviceMake":"","deviceModel":"","visitorData":"CgtoWVlsNXI2QkFJMCj7huGgBg%3D%3D","userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36,gzip(gfe)","clientName":"WEB","clientVersion":"2.20230317.00.00","osName":"Windows","osVersion":"10.0","originalUrl":"https://www.youtube.com/results?search_query=postal+department","platform":"DESKTOP","clientFormFactor":"UNKNOWN_FORM_FACTOR","configInfo":{"appInstallData":"CPuG4aAGEL-QrwUQouyuBRC41K4FEMyu_hIQ45OvBRCAs_4SEOWg_hIQ4_KuBRDthq8FENOs_hIQ_u6uBRDM364FELiLrgUQzPWuBRDi1K4FEJT4rgUQqbL-EhC2nP4SEI33rgUQieiuBRDn964FEKKu_hI%3D"},"timeZone":"Europe/London","browserName":"Chrome","browserVersion":"110.0.0.0","acceptHeader":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","deviceExperimentId":"ChxOekl4TWpVNE9UQXdNRFUyTURJM056UTJPUT09EPuG4aAGGPuG4aAG","screenWidthPoints":1365,"screenHeightPoints":969,"screenPixelDensity":1,"screenDensityFloat":1,"utcOffsetMinutes":0,"userInterfaceTheme":"USER_INTERFACE_THEME_LIGHT","memoryTotalKbytes":"8000000","mainAppWebInfo":{"graftUrl":"/results?search_query=postal+department","pwaInstallabilityStatus":"PWA_INSTALLABILITY_STATUS_CAN_BE_INSTALLED","webDisplayMode":"WEB_DISPLAY_MODE_BROWSER","isWebNativeShareAvailable":true}},"user":{"lockedSafetyMode":false},"request":{"useSsl":true,"internalExperimentFlags":[],"consistencyTokenJars":[]},"clickTracking":{"clickTrackingParams":"CA0Q7VAiEwjwy-_vs-r9AhXdPfEFHRlSBRQ="},"adSignalsInfo":{"params":[{"key":"dt","value":"1679311739681"},{"key":"flash","value":"0"},{"key":"frm","value":"0"},{"key":"u_tz","value":"0"},{"key":"u_his","value":"3"},{"key":"u_h","value":"1080"},{"key":"u_w","value":"1920"},{"key":"u_ah","value":"1040"},{"key":"u_aw","value":"1920"},{"key":"u_cd","value":"24"},{"key":"bc","value":"31"},{"key":"bih","value":"969"},{"key":"biw","value":"1349"},{"key":"brdim","value":"0,0,0,0,1920,0,1920,1040,1365,969"},{"key":"vis","value":"1"},{"key":"wgl","value":"true"},{"key":"ca_type","value":"image"}]}},"query":"postal department","webSearchboxStatsUrl":"/search?oq=postal department&gs_l=youtube.3..0i512k1l14.39249.41095.1.63691.13.7.0.6.6.0.181.655.5j2.7.0.foo,hm-evie=0,cfro=1,hm-evie=1,hm-vip-qp_nts=2000,hm-vimet=20,hm-viest=50,hm-rpse=1,hm-gued=5,hm-vip-qp_aot=1,hm-vip-qp_ascp=1...0...1ac.1.64.youtube..0.13.712...0i433i131i67k1j0i433i67k1j0i67k1j0i512i433i131k1j0i512i433k1j0i273k1.0.YzApbhGlUaE"}'''

In [ ]:
resp=requests.post(url,data=payload,headers=headers)

In [ ]:
resp

In [ ]:
a=json.loads(resp.content)

In [ ]:
a.keys()

dict_keys(['responseContext', 'estimatedResults', 'contents', 'trackingParams', 'topbar', 'refinements', 'targetId'])

In [ ]:
b=a['contents']['twoColumnSearchResultsRenderer']['primaryContents']['sectionListRenderer']['contents']
len(b)

2

In [ ]:
c=b[0]['itemSectionRenderer']['contents']

In [ ]:
len(c)

23

In [ ]:
df=pd.json_normalize(c)
df

,videoRenderer.videoId,videoRenderer.thumbnail.thumbnails,videoRenderer.title.runs,videoRenderer.title.accessibility.accessibilityData.label,videoRenderer.longBylineText.runs,videoRenderer.publishedTimeText.simpleText,videoRenderer.lengthText.accessibility.accessibilityData.label,videoRenderer.lengthText.simpleText,videoRenderer.viewCountText.simpleText,videoRenderer.navigationEndpoint.clickTrackingParams,...,shelfRenderer.content.verticalListRenderer.collapsedStateButtonText.accessibility.accessibilityData.label,shelfRenderer.content.verticalListRenderer.trackingParams,shelfRenderer.trackingParams,reelShelfRenderer.title.simpleText,reelShelfRenderer.button.menuRenderer.items,reelShelfRenderer.button.menuRenderer.trackingParams,reelShelfRenderer.button.menuRenderer.accessibility.accessibilityData.label,reelShelfRenderer.items,reelShelfRenderer.trackingParams,reelShelfRenderer.icon.iconType
0,MSYFHt4kDwg,[{'url': 'https://i.ytimg.com/vi/MSYFHt4kDwg/h...,[{'text': 'A brief history of postal departmen...,A brief history of postal department in India ...,"[{'text': 'Sansad TV', 'navigationEndpoint': {...",4 years ago,"3 minutes, 33 seconds",3:33,"41,033 views",CMoDENwwGAAiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,xnXqFZjuHRs,[{'url': 'https://i.ytimg.com/vi/xnXqFZjuHRs/h...,[{'text': 'When did the US Postal Service begi...,When did the US Postal Service begin and what ...,"[{'text': 'IT'S HISTORY', 'navigationEndpoint'...",3 months ago,"22 minutes, 22 seconds",22:22,"30,770 views",CMUDENwwGAEiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JbGHK6LsL70,[{'url': 'https://i.ytimg.com/vi/JbGHK6LsL70/h...,[{'text': 'RETURNING TO THE POST OFFICE WHERE ...,RETURNING TO THE POST OFFICE WHERE I WAS ARRES...,"[{'text': 'Long Island Audit', 'navigationEndp...",11 months ago,"13 minutes, 45 seconds",13:45,"370,699 views",CMADENwwGAIiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SpdrCXROHRo,[{'url': 'https://i.ytimg.com/vi/SpdrCXROHRo/h...,[{'text': 'The Rise And Fall of USPS'}],The Rise And Fall of USPS by Insider Business ...,"[{'text': 'Insider Business', 'navigationEndpo...",2 years ago,"8 minutes, 16 seconds",8:16,"303,433 views",CLsDENwwGAMiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,vrsyMDmIXAs,[{'url': 'https://i.ytimg.com/vi/vrsyMDmIXAs/h...,[{'text': 'Mail Sorting at the United States P...,Mail Sorting at the United States Post Office ...,[{'text': 'Smithsonian National Air and Space ...,1 year ago,"6 minutes, 34 seconds",6:34,"12,515 views",CLYDENwwGAQiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6uXpb1zft6E,[{'url': 'https://i.ytimg.com/vi/6uXpb1zft6E/h...,[{'text': 'Will the U.S. Postal Service be a p...,Will the U.S. Postal Service be a part of our ...,"[{'text': 'CBS Mornings', 'navigationEndpoint'...",1 year ago,"7 minutes, 4 seconds",7:04,"82,323 views",CLEDENwwGAUiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ymTGorWj9Ks,[{'url': 'https://i.ytimg.com/vi/ymTGorWj9Ks/h...,[{'text': 'The Post Office: An Express History...,The Post Office: An Express History | The Orig...,"[{'text': 'Laughing Historically', 'navigation...",2 years ago,"7 minutes, 32 seconds",7:32,"13,142 views",CKIDENwwGAYiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,+6 more,CO8CELo-IhMI7O_po7jq_QIVA_2cCh11bQRA,CO4CENwcGAciEwjs7-mjuOr9AhUD_ZwKHXVtBEA=,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dZbBbVezSYs,[{'url': 'https://i.ytimg.com/vi/dZbBbVezSYs/h...,[{'text': ' ...,8800 ...,"[{'text': 'dcb media', 'navigationEndpoint': {...",3 weeks ago,"5 minutes, 3 seconds",5:03,"312,759 views",COkCENwwGAgiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,WX16-52bHvg,[{'url': 'https://i.ytimg.com/vi/WX16-52bHvg/h...,[{'text': 'Systems at Work'}],Systems at Work by USPS TV 8 years ago 9 minut...,"[{'text': 'USPS TV', 'navigationEndpoint': {'c...",8 years ago,"9 minutes, 23 seconds",9:23,"933,853 views",CMUCENwwGAkiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Shorts,[{'menuNavigationItemRenderer': {'text': {'run...,CJwCEN-DAxgKIhMI7O_po7jq_QIVA_2cCh11bQRA,More actions,[{'reelItemRenderer': {'videoId': 'duDqh9CBesI...,CJwCEN-DAxgKIhMI7O_po7jq_QIVA_2cCh11bQRA,YOUTUBE_SHORTS_BRAND_24
11,Nu2WOxXxsHw,[{'url': 'https://i.ytimg.com/vi/Nu2WOxXxsHw/h...,[{'text': 'How the Post Office Made America'}],How the Post Office Made America by Wendover P...,"[{'text': 'Wendover Productions', 'navigationE...",5 years ago,"10 minutes, 57 seconds",10:57,"1,213,686 views",CI0CENwwGAsiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,tGOE-qxRVZw,[{'url': 'https://i.ytimg.com/vi/tGOE-qxRVZw/h...,[{'text': 'How to Mail a Letter | Post Office...,How to Mail a Letter | Post Office Field Trip...,"[{'text': 'South Florida PBS', 'navigationEndp...",8 years ago,"7 minutes, 15 seconds",7:15,"420,956 views",CP0BENwwGAwiEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,dIpDlLaISm0,[{'url': 'https://i.ytimg.com/vi/dIpDlLaISm0/h...,[{'text': 'Postmaster DeJoy's 10-Year Plan To ...,Postmaster DeJoy's 10-Year Plan To DESTROY The...,"[{'text': 'More Perfect Union', 'navigationEnd...",1 year ago,"4 minutes, 44 seconds",4:44,"23,801 views",CPgBENwwGA0iEwjs7-mjuOr9AhUD_ZwKHXVtBEAyBnNlYX...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,+15 more,CF0Quj4iEwjs7-mjuOr9AhUD_ZwKHXVtBEA=,CFwQ3BwYDiITCOzv6aO46v0CFQP9nAoddW0EQA==,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,nfCUuIsnFBQ,[{'url': 'https://i.ytimg.com/vi/nfCUuIsnFBQ/h...,[{'text': 'History of the U.S. Postal Inspecti...,History of the U.S. Postal Inspection Service ...,"[{'text': 'US Postal Inspection Service', 'nav...",2 years ago,"20 minutes, 41 seconds",20:41,"11,845 views",CFcQ3DAYDyITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,yJF5Wv-usfE,[{'url': 'https://i.ytimg.com/vi/yJF5Wv-usfE/h...,[{'text': 'The US Postal Service Wastes Your M...,The US Postal Service Wastes Your Money by Joh...,"[{'text': 'John Stossel', 'navigationEndpoint'...",6 years ago,"5 minutes, 8 seconds",5:08,"643,540 views",CFIQ3DAYECITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,J01s3XdO4I4,[{'url': 'https://i.ytimg.com/vi/J01s3XdO4I4/h...,[{'text': 'POSTMASTER KAREN HAS THE FEELINGS P...,POSTMASTER KAREN HAS THE FEELINGS POLICE LOCK ...,"[{'text': 'Long Island Audit', 'navigationEndp...",1 year ago,"30 minutes, 50 seconds",30:50,"482,718 views",CE0Q3DAYESITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,SzCImSFIpuc,[{'url': 'https://i.ytimg.com/vi/SzCImSFIpuc/h...,[{'text': 'USPS Behind The Scenes at the U.S. ...,USPS Behind The Scenes at the U.S. Postal Serv...,"[{'text': 'USPS TV', 'navigationEndpoint': {'c...",5 years ago,"1 minute, 11 seconds",1:11,"75,043 views",CEgQ3DAYEiITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,o9B1W8CEsjI,[{'url': 'https://i.ytimg.com/vi/o9B1W8CEsjI/h...,[{'text': 'Bhopal Dance ...,Bhopal Dance ...,"[{'text': 'Public Meter', 'navigationEndpoint'...",16 minutes ago,"2 minutes, 49 seconds",2:49,"1,818 views",CEMQ3DAYEyITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,wdSuoko0Gag,[{'url': 'https://i.ytimg.com/vi/wdSuoko0Gag/h...,[{'text': 'Ap Postal Jobs Notification 2023 | ...,Ap Postal Jobs Notification 2023 | Ap Postal J...,"[{'text': 'RamRamesh productions', 'navigation...",1 month ago,"13 minutes, 56 seconds",13:56,"146,049 views",CD4Q3DAYFCITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Xf7vI6HfkO0,[{'url': 'https://i.ytimg.com/vi/Xf7vI6HfkO0/h...,[{'text': 'U.S. Postal Service gets boost to o...,U.S. Postal Service gets boost to overhaul its...,"[{'text': 'PBS NewsHour', 'navigationEndpoint'...",11 months ago,"5 minutes, 41 seconds",5:41,"19,968 views",CDkQ3DAYFSITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,kM4VrAgchBE,[{'url': 'https://i.ytimg.com/vi/kM4VrAgchBE/h...,[{'text': '1948 U.S. POSTAL SERVICE DOCUMENTAR...,"1948 U.S. POSTAL SERVICE DOCUMENTARY ""YOUR PO...","[{'text': 'PeriscopeFilm II', 'navigationEndpo...",4 years ago,"18 minutes, 23 seconds",18:23,"16,749 views",CDQQ3DAYFiITCOzv6aO46v0CFQP9nAoddW0EQDIGc2Vhcm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN