In [ ]:
import requests
import json
import pandas as pd

In [ ]:
data="start=2022-08-08&end=2023-08-15&resType=101&calView=agendaWeek&federationIds%5B%5D=PAULAIRD+++&colourScheme=3"
url="https://tts.dbs.ie/Home/GetCalendarData"
headers={'Accept': 'application/json, text/javascript, */*; q=0.01','Accept-Encoding': 'gzip, deflate','Accept-Language': 'en-US,en;q=0.9','Connection': 'keep-alive','Content-Length': '113','Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8','Cookie': '_ga=GA1.2.197021838.1634041998; .AspNetCore.Antiforgery.VsQGwGXGqGs=CfDJ8IsD0d_HGXNHg7Kfrxr2oQbQXk8hK9qwOibTp_G0XbgKxYZ7SremcS2h85zud2zr-lTCJscpE4bUhXTdpf4zCn3kDfA-AytGjSRTp9IH8DkMRd8ppupImaqP6qYhV5RK8wxQL0QnGlGKD0mafPPvY5s; .Celcat.Calendar.Session=CfDJ8IsD0d%2FHGXNHg7Kfrxr2oQYFSL1aJ6i2bHYEuiMXq2Aexb6bVuJLB%2FzPqtY79Wp1cDYBiP6H2fnHnaedMyjfvMlXrm%2BbsdWNFo%2Fr8f9szdrUKRBXaFHe1CfC72BQbuxbakmDZQTppyoswg33RizcpehmlnB%2BvIFPHYCRFfsV0eZx','Host': 'tts.dbs.ie','Origin': 'https://tts.dbs.ie','Referer': 'https://tts.dbs.ie/cal?vt=agendaWeek&dt=2021-11-05&et=team&eid=1:1183708:11&fid0=BHD08DNL%20-%201F09','sec-ch-ua': '"Google Chrome";v="95", "Chromium";v="95", ";Not A Brand";v="99"','sec-ch-ua-mobile': '?0','sec-ch-ua-platform': '"Windows"','Sec-Fetch-Dest': 'empty','Sec-Fetch-Mode': 'cors','Sec-Fetch-Site': 'same-origin','User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36','X-Requested-With': 'XMLHttpRequest'}

In [ ]:
resp=requests.post(url,data=data,headers=headers)

In [ ]:
d=json.loads(resp.content)

In [ ]:
len(d)

493

In [ ]:
import requests
import json

In [ ]:
url='https://tts.dbs.ie/Home/GetCalendarData'
headers=headers={'Accept': 'application/json, text/javascript, */*; q=0.01',
 'Accept-Encoding': 'gzip, deflate',
 'Accept-Language': 'en-US,en;q=0.9',
 'Connection': 'keep-alive',
 'Content-Length': '117',
 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
 'Cookie': '_fbp=fb.1.1631031750081.222030155; __qca=P0-1993081162-1631031750427; _scid=c13dfef4-db0a-4875-b4cc-2f495515b06c; _ga=GA1.2.844686697.1622205256; _ga_JFYJ9XY40Z=GS1.1.1634651803.8.1.1634651894.0; .AspNetCore.Antiforgery.VsQGwGXGqGs=CfDJ8IsD0d_HGXNHg7Kfrxr2oQZXjzi-YSxBr_EwTwQscTe2DEq1SJ31EhvF8vh2YtzPWPcccOR478ryZLdFSlMTwvF1yrFRaStREqbAEzru3Tel_NOeUz6E9LYO-_eS8XIUiWV-U7mqKMyVjMwNYv88yVs; .Celcat.Calendar.Session=CfDJ8IsD0d%2FHGXNHg7Kfrxr2oQZ6f3mPAetOAjAteekVaefoPgkCYjgIHgM2i8feYLe7rPpmbYXGXRth4heeHy48rzsjF9p51YmxHPu5UnYkVmdaEy0o45oLlhmYF1duqdXAug1ro2Cniou8g9wT%2B9xzN0rmyef9Jl8UN%2Bncy8ZkqiAS',
 'Host': 'tts.dbs.ie',
 'Origin': 'https://tts.dbs.ie',
 'Referer': 'https://tts.dbs.ie/cal?vt=agendaWeek&dt=2021-12-06&et=team&fid0=BMS09DNL%20-%201F09%20-%20A',
 'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="96", "Google Chrome";v="96"',
 'sec-ch-ua-mobile': '?0',
 'sec-ch-ua-platform': '"Windows"',
 'Sec-Fetch-Dest': 'empty',
 'Sec-Fetch-Mode': 'cors',
 'Sec-Fetch-Site': 'same-origin',
 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36',
 'X-Requested-With': 'XMLHttpRequest'}
data='''start=2022-12-06&end=2022-12-13&resType=105&calView=agendaWeek&federationIds%5B%5D=BMS09DNL+-+1F09+-+A&colourScheme=3'''

In [ ]:
resp=requests.post(url,headers=headers,data=data)

In [ ]:
resp

In [ ]:
resp.content

b'[{"id":"1:1074894:16","start":"2021-12-08T16:00:00","end":"2021-12-08T18:00:00","allDay":false,"description":"CH2.1\\r\\n\\r\\n<br />\\r\\n\\r\\nProgramming for Data Analysis\\r\\n\\r\\n<br />\\r\\n\\r\\nPaul Laird\\r\\n\\r\\n<br />\\r\\n\\r\\nFull Time Lecture\\r\\n","backgroundColor":"#FF8080","textColor":"#000000","department":"Computing","faculty":"Cloud; Data Analytics; Information Systems; Cybersecurity; Artificial Intelligence","eventCategory":"Full Time Lecture","site":"Castle House","module":"B9DA108","registerStatus":0,"studentMark":0,"custom1":"Paul Laird - https://dbs.zoom.us/j/94247444262\\r\\n Clive Gargan - https://dbs.zoom.us/j/98474323939\\r\\n ","custom2":null,"custom3":null},{"id":"1:1074898:16","start":"2021-12-07T15:00:00","end":"2021-12-07T17:00:00","allDay":false,"description":"OC6\\r\\n\\r\\n<br />\\r\\n\\r\\nProgramming for Data Analysis\\r\\n\\r\\n<br />\\r\\n\\r\\nPaul Laird\\r\\n\\r\\n<br />\\r\\n\\r\\nOnline Delivery Full Time\\r\\n","backgroundColor":"#008000","textColor":"#ffffff","department":"Computing","faculty":"Cloud; Data Analytics; Information Systems; Cybersecurity; Artificial Intelligence","eventCategory":"Online Delivery Full Time","site":null,"module":"B9DA108","registerStatus":0,"studentMark":0,"custom1":"Paul Laird - https://dbs.zoom.us/j/94247444262\\r\\n Clive Gargan - https://dbs.zoom.us/j/98474323939\\r\\n ","custom2":null,"custom3":null},{"id":"1:1184087:16","start":"2021-12-07T09:00:00","end":"2021-12-07T11:30:00","allDay":false,"description":"OC6\\r\\n\\r\\n<br />\\r\\n\\r\\nStatistics for Data Analytics\\r\\n\\r\\n<br />\\r\\n\\r\\nShahram Azizi Sazi\\r\\n\\r\\n<br />\\r\\n\\r\\nOnline Delivery Full Time\\r\\n","backgroundColor":"#008000","textColor":"#ffffff","department":"Computing","faculty":"Cloud; Data Analytics; Information Systems; Cybersecurity; Artificial Intelligence","eventCategory":"Online Delivery Full Time","site":null,"module":"B9DA101","registerStatus":0,"studentMark":0,"custom1":"Shahram Azizi Sazi - https://dbs.zoom.us/j/96925049472\\r\\n ","custom2":null,"custom3":null}]'

In [ ]:
content=json.loads(resp.content)

In [ ]:
len(content)

3

In [ ]:
pd.json_normalize(content)

             id                start  ... custom2  custom3
0  1:1074894:16  2021-12-08T16:00:00  ...    None     None
1  1:1074898:16  2021-12-07T15:00:00  ...    None     None
2  1:1184087:16  2021-12-07T09:00:00  ...    None     None

[3 rows x 17 columns]

In [ ]:
df=pd.json_normalize(content)
df.drop(['allDay','backgroundColor','textColor','faculty','custom2','custom3','registerStatus','studentMark'],axis=1,inplace=True)

In [ ]:
df

             id  ...                                            custom1
0  1:1074894:16  ...  Paul Laird - https://dbs.zoom.us/j/94247444262...
1  1:1074898:16  ...  Paul Laird - https://dbs.zoom.us/j/94247444262...
2  1:1184087:16  ...  Shahram Azizi Sazi - https://dbs.zoom.us/j/969...

[3 rows x 9 columns]

In [ ]:
df.at[0,'description']

'CH2.1\r\n\r\n<br />\r\n\r\nProgramming for Data Analysis\r\n\r\n<br />\r\n\r\nPaul Laird\r\n\r\n<br />\r\n\r\nFull Time Lecture\r\n'

In [ ]:
df[['location','subject','lecturer','schedule']] = df['description'].str.split('\\r\\n\\r\\n<br />\\r\\n\\r\\n',expand=True)
df

             id  ...                       schedule
0  1:1074894:16  ...          Full Time Lecture\r\n
1  1:1074898:16  ...  Online Delivery Full Time\r\n
2  1:1184087:16  ...  Online Delivery Full Time\r\n

[3 rows x 13 columns]

In [ ]:
df.drop(['schedule','description'], axis=1,inplace=True)
df

             id  ...            lecturer
0  1:1074894:16  ...          Paul Laird
1  1:1074898:16  ...          Paul Laird
2  1:1184087:16  ...  Shahram Azizi Sazi

[3 rows x 11 columns]

In [ ]:
df['duration']=df['end']-df['start']
df

TypeError: ignored

In [ ]:
df.dtypes

id               object
start            object
end              object
department       object
eventCategory    object
site             object
module           object
custom1          object
location         object
subject          object
lecturer         object
dtype: object

In [ ]:
df['start']=pd.to_datetime(df['start'])

In [ ]:
df['end']=pd.to_datetime(df['end'])

In [ ]:
df['duration']=df['end']-df['start']
df

             id               start  ...            lecturer        duration
0  1:1074894:16 2021-12-08 16:00:00  ...          Paul Laird 0 days 02:00:00
1  1:1074898:16 2021-12-07 15:00:00  ...          Paul Laird 0 days 02:00:00
2  1:1184087:16 2021-12-07 09:00:00  ...  Shahram Azizi Sazi 0 days 02:30:00

[3 rows x 12 columns]

In [ ]:
df['duration']=pd.to_timedelta(df['duration'])
df

             id               start  ...            lecturer        duration
0  1:1074894:16 2021-12-08 16:00:00  ...          Paul Laird 0 days 02:00:00
1  1:1074898:16 2021-12-07 15:00:00  ...          Paul Laird 0 days 02:00:00
2  1:1184087:16 2021-12-07 09:00:00  ...  Shahram Azizi Sazi 0 days 02:30:00

[3 rows x 12 columns]

In [ ]:
df[df['start']<pd.to_datetime('2021-12-8T00:00:00')]

             id               start  ...            lecturer        duration
1  1:1074898:16 2021-12-07 15:00:00  ...          Paul Laird 0 days 02:00:00
2  1:1184087:16 2021-12-07 09:00:00  ...  Shahram Azizi Sazi 0 days 02:30:00

[2 rows x 12 columns]

In [ ]:
df[df['start']<pd.to_datetime('2021-12-08T00:00:00')]['duration'].sum()

Timedelta('0 days 04:30:00')